@import './variables.scss';
@import './common.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';
@import './customize';

#app {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

aside {
  background: $menuBg;
}

.app-container {
  padding: 15px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.filter-container {
  padding-bottom: 10px;
}
